body {
  margin:0;
  background-image: url('https://img.freepik.com/free-vector/gradient-abstract-background_23-2149115478.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;}
  
  
  #title, #description {
    margin: 1em auto;
    text-align: center;
    font-family: Garamond, serif;}
  
  
  #description {
    font-size: 17;
    margin-bottom: 50px;}  
  
  div {
    font-size: 22px;}

  .name,.email,.age {
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }  
  
  
  form {
    color: white;
    padding: 50px;
    border-radius: 5px; 
    width: 70vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background-color: rgba(0,0,225,0.3);
    text-align: left;}
  
  
    
  
  input {
    border-radius:4px;
    margin-top:0.2em;}
  
 
  
  #submit {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    background:#37af65;
    color: white;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    }

    #submit:hover {
      background-color: #45a049; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    }
  
    #dropdown {
      border-radius: 5px;
      font-size: 15px;
      margin-top: 10px;
      padding-bottom:5px;
      padding-right: 20px;
      }

      .Email,.Age {
        margin-top: 10px;
      }
  
      .radiop {
        margin: 0;
        margin-bottom: 8;
        }
  
  